
body{
    background-color: #fbf0e6;
}


.fecha{
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
}

.sectiontitle{
    background-color: #a5d5e8;
    padding: 0.5rem;
    font-family: 'Roboto',sans-serif;
    margin: 1rem 12rem 2rem 12rem;
    color: #233252;
}

.plaintext{
  margin: 10px 13rem 3rem 13rem;
  text-align: justify;
  font-family: 'Roboto',sans-serif;
  color: #494f5a;
  /* font-family: Helvetica,Arial,Lucida,sans-serif; */
}

.location {
    font-family: 'Roboto',sans-serif;
    color: #000000;
    background: #c3d8e1;
    margin: 10px 15rem 3rem 15rem;
    overflow: hidden;
    padding: 20px;
    border: 5px solid #a5d5e8;
    }

/* 
.location{
  margin: 10px 15rem 3rem 15rem;
  text-align: justify;
  font-family: 'Roboto',sans-serif;
  color: #000000;
  
} */


section h3 {
    margin: 1rem 12rem 1rem 12rem;
    /* font-family: Helvetica,Arial,Lucida,sans-serif; */
    font-family: 'Roboto',sans-serif;
}

#banner{
    margin: 10px 12rem 75px 12rem;
}

section ul{
    margin: 10px 13rem 3rem 13rem;
    /* font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif; */
    font-family: 'Roboto',sans-serif;
    color: #494f5a;
}

#signin{
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

/* #date{
    margin: auto auto;
} */

section img{
    margin: 10px 12rem 2rem 12rem;
    width: 60%;
}

header img{
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

article{
    background-color:#a5d5e8;
    margin: 10px 17rem 3rem 17rem;
    padding: 2rem;
}

article p{
    font-family: 'Roboto',sans-serif;
    text-align: justify;
}

/* article{
    background-color: 
} */

article h4{
    font-family: 'Roboto',sans-serif;
    text-align: center;
    /* font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif; */
}

 /* unvisited link */
 a:link {
    color: #494f5a;
  }
  
  /* visited link */
  a:visited {
    color: #494f5a;
  }
  
  /* mouse over link */
  a:hover {
    color: #348bd8;
  }
 
